@using GSCrm.Models.ViewModels
@using GSCrm.Data.ApplicationInfo
@using GSCrm.Helpers
@using GSCrm.Data
@inject ApplicationDbContext context
@using static GSCrm.CommonConsts
@inject ResManager resManager
@using GSCrm.Data.Cash
@inject ICachService cachService
@model AccountsViewModel
@{
    int currentAccountsCount = Model.CurrentAccounts.Count();
    bool showES = currentAccountsCount == 0 && new[] { Model.CurrentAccountsSearchName, Model.CurrentAccountsSearchType }.AllIsNullOrEmpty();
    User currentUser = User.GetUserModel(context);
    string currentUserId = currentUser.Id;
}
<div class="tab-pane fade show" id="currentAccounts" role="tabpanel" aria-labelledby="currentAccountsTab">
    @if (!showES)
    {
        @* // Фильтр по клиентам *@
        await Html.RenderPartialAsync($"{ACC_VIEWS_REL_PATH}Partial/CurrentAccountsFilter.cshtml");
    }
    <form id="currentAccounts" class="table-wrapper">
        <table class="fl-table @(showES ? "empty-table" : string.Empty)">
            <thead>
                @if (!showES)
                {
                    <tr>
                        <th>@resManager.GetString("NameLabel")</th>
                        <th>@resManager.GetString("AccountType")</th>
                    </tr>
                }
                else
                {
                    <tr><th></th><th></th></tr>
                }
            </thead>
            <tbody>
                @if (showES)
                {
                    <tr>
                        <td><img src="~/img/default-empty.svg" /></td>
                        <td>@resManager.GetString("ESAccount")</td>
                    </tr>
                }
                @foreach (AccountViewModel account in Model.CurrentAccounts)
                {
                    <tr>
                        <td class="tooltip-cell-src tooltip-cell-link label-non-select account-item">
                            @Html.ActionLink(account.Name, "GetAccount", ACCOUNT, new
                            {
                                id = account.Id,
                                selectedAccountsTab = CURRENT_ACCS
                            })
                        </td>
                        @switch (account.AccountType)
                        {
                            case "Individual":
                                <td>@resManager.GetString("Individual")</td>
                                break;
                            case "IndividualEntrepreneur":
                                <td>@resManager.GetString("IE")</td>
                                break;
                            case "LegalEntity":
                                <td>@resManager.GetString("LE")</td>
                                break;
                        }
                    </tr>
                }
            </tbody>
        </table>
    </form>
    @{
        await Html.RenderPartialAsync("Partial/Navigation", new NavbarRenderSettings
        {
            ItemsCount = currentAccountsCount,
            ViewInfo = cachService.GetViewInfo(currentUserId, CURRENT_ACCS),
            ControllerName = ACCOUNT,
            ActionName = CURRENT_ACCS
        });
    }
</div>
