@{
    Layout = "_Layout";
}
@using GSCrm.Data
@using GSCrm.Data.ApplicationInfo
@using GSCrm.Models.ViewModels
@using static GSCrm.CommonConsts
@using GSCrm.Helpers
@using GSCrm.Notifications
@inject ApplicationDbContext context
@inject ResManager resManager
@inject IViewsInfo viewsInfo
@model InboxNotificationsViewModel
@{
    IEnumerable<InboxNotificationViewModel> inboxNotViewModels = Model.InboxNotificationViewModels;
    User currentUser = User.GetUserModel(context);
    string currentUserId = currentUser.Id;
}
@* // Хлебные крошки *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@resManager.GetString("Home")</a></li>
        <li class="breadcrumb-item active" aria-current="page">@resManager.GetString(NOTIFICATIONS)</li>
    </ol>
</nav>

<div class="container mt-3">
    <div class="text-center">
        <a class="label-md" asp-area="" asp-controller="@NOT_SETTING" asp-action="@NOT_SETTING" asp-route-id="@Model.UserNotificationsSettingId">@resManager.GetString(NOT_SETTINGS)</a>
    </div>
    <div id="notificationsList" class="mt-3">
        @if (inboxNotViewModels.Count() > 0)
        {
            @foreach (InboxNotificationViewModel inboxNotViewModel in inboxNotViewModels)
            {
                switch (inboxNotViewModel.NotificationType)
                {
                    case NotificationType.OrgInvite:
                        if (inboxNotViewModel.InviteOrg != null)
                        {
                            <div class="row org-invite-not notification-item mt-4">
                                <input class="notification-item-id" value="@inboxNotViewModel.Id" hidden="hidden" />
                                <form class="col-md flex-grow-0" asp-controller="@INBOX_NOT" asp-action="">
                                    <div class="@(!inboxNotViewModel.HasRead ? "cbx-not" : "cbx-not-onload")">
                                        <input id="cbxNot" type="checkbox" />
                                        <label for="cbxNot"></label>
                                    </div>
                                </form>
                                <div class="col-md mt-4 mt-md-0">
                                    <div class="alert @(!inboxNotViewModel.HasRead ? "alert-dark" : "alert-light alert-not-light") m-0" role="alert">
                                        <div class="row">
                                            <div class="col-lg">
                                                <p class="label-non-select label-md m-0 text-center">
                                                    Вы получили приглашение вступить в организацию
                                                    <a href="/@ORGANIZATION/@inboxNotViewModel.InviteOrg.Id">@inboxNotViewModel.InviteOrg.Name</a>
                                                </p>
                                            </div>
                                            <form class="col-lg mt-3" asp-controller="@INBOX_NOT" asp-action="@INBOX_NOTS">
                                                <div class="btn btn-block btn-outline-dark">
                                                    <p>@resManager.GetString("AcceptInvite")</p>
                                                </div>
                                            </form>
                                            <form class="col-lg mt-3" asp-controller="@INBOX_NOT" asp-action="@INBOX_NOTS">
                                                <div class="btn btn-block btn-outline-danger">
                                                    <p>@resManager.GetString("RejectInvite")</p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        break;
                }
            }
        }
        else
        {
            <div class="row notifications-empty-list">
                <div class="col">
                    <img src="~/img/default-empty.svg" />
                </div>
                <div class="col">
                    <div class="block-center">
                        <p class="label-md">@resManager.GetString("ESNotifications")</p>
                    </div>
                </div>
            </div>
        }
    </div>
    @{
        if (inboxNotViewModels.Count() > 0)
        {
            await Html.RenderPartialAsync("Partial/Navigation", new NavbarRenderSettings
            {
                ItemsCount = inboxNotViewModels.Count(),
                ViewInfo = viewsInfo.Get(currentUserId, INBOX_NOTS),
                ControllerName = INBOX_NOT,
                ActionName = INBOX_NOTS
            });
        }
    }
</div>