@using GSCrm.Data.ApplicationInfo
@using GSCrm.Helpers
@using GSCrm.Data
@using GSCrm.Data.Cash
@using static GSCrm.CommonConsts
@inject ApplicationDbContext context
@inject ResManager resManager
@inject ICachService cachService
@model OrganizationViewModel
@{
    int responsibilitiesCount = Model.Responsibilities.Count();
    string currentUserId = User.GetUserModel(context).Id;
    ViewInfo viewInfo = cachService.GetViewInfo(currentUserId, Model.Id, RESPONSIBILITIES);
    int previousPageNumber = viewInfo.CurrentPageNumber - DEFAULT_PAGE_STEP;
    int nextPageNumber = viewInfo.CurrentPageNumber + DEFAULT_PAGE_STEP;
}

<div id="responsibilitiesManagmentModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="modalHeaderMask"></div>
                <h5 class="modal-title">@resManager.GetString("Responsibilities")</h5>
                <span class="icon-add-outline"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="newRespBlock" asp-controller="@RESPONSIBILITY" asp-action="Create">
                <div class="row">
                    <div class="col">
                        <input id="responsibilityName" class="form-control" placeholder="@resManager.GetString("NewRespName")" />
                        <ul id="responsibilityNameError" data-connect-el="responsibilityName" class="d-none under-field-error label-sm mt-2"></ul>
                    </div>
                    <div class="col-md-auto p-md-0">
                        <div id="newRespBlockSave" class="col text-center mt-3 mt-md-2 pl-3">
                            <span class="icon-checkmark"></span>
                        </div>
                        <div id="newRespBlockCancel" class="col text-center mt-3 mt-md-2 pl-4">
                            <span class="icon-close"></span>
                        </div>
                    </div>
                </div>
            </form>
            <div id="respsBlock">
                <div id="respsBlockMask"></div>
                <div class="modal-body">
                    <form id="searchRespBlock" asp-controller="@ORGANIZATION" asp-action="SearchResponsibility">
                        <input asp-for="Id" hidden="hidden" />
                        <div class="mb-3">
                            <input asp-for="SeacrhResponsibilityName" class="form-control" placeholder="@resManager.GetString("NameLabel")" />
                        </div>
                        <div class="row">
                            <div class="col text-center mb-3">
                                <input id="searchResps" type="submit" class="btn btn-outline-primary" value="@resManager.GetString("Search")" />
                            </div>
                            <div class="col text-center mb-3">
                                <a id="clearSearchResps" asp-controller="@ORGANIZATION" asp-action="ClearResponsibilitySearch" asp-route-id="@Model.Id" type="button" class="btn btn-outline-primary">@resManager.GetString("Clear")</a>
                            </div>
                        </div>
                    </form>
                    <ul id="responsibilitiesList" class="mt-1 list-group">
                        @foreach (ResponsibilityViewModel responsibility in Model.Responsibilities)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        @Html.ActionLink(responsibility.Name, RESPONSIBILITY, RESPONSIBILITY, new { id = responsibility.Id })
                                    </div>
                                    <div class="col-auto remove-item-btn">
                                        <div class="remove-item-url" hidden="hidden">
                                            @Html.ActionLink(responsibility.Name, "Delete", RESPONSIBILITY, new { id = responsibility.Id })
                                        </div>
                                        <span class="icon-bin"></span>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <div class="list-nav row no-gutters justify-content-center mt-3">
                        <div class="col">
                            <div class="nav-previous">
                                <div class="nav-url" data-href="@Url.Content($"~/{ORGANIZATION}/{Model.Id}/{RESPONSIBILITIES}/{previousPageNumber}/")">
                                    <span class="icon-chevron-thin-left"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="nav-next">
                                <div class="nav-url" data-href="@Url.Content($"~/{ORGANIZATION}/{Model.Id}/{RESPONSIBILITIES}/{nextPageNumber}/")">
                                    <span class="icon-chevron-thin-right"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>