@{
    Layout = "_Layout";
}
@using static GSCrm.CommonConsts
@using GSCrm.Data.ApplicationInfo
@using GSCrm.Helpers
@using GSCrm.Data
@using GSCrm.Data.Cash
@inject ApplicationDbContext context
@inject ResManager resManager
@inject ICachService cachService
@model ProductCategoriesViewModel
@{
    IEnumerable<ProductCategoryViewModel> prodCatViewModels = Model.ProductCategoryViewModels;
    User currentUser = User.GetUserModel(context);
    ViewInfo orgViewInfo = cachService.GetViewInfo(currentUser.Id, ORGANIZATIONS);
    ViewInfo prodCatsViewInfo = cachService.GetViewInfo(currentUser.Id, Model.OrganizationId, PROD_CATS);
    int previousPageNumber = prodCatsViewInfo.CurrentPageNumber - DEFAULT_PAGE_STEP;
    int nextPageNumber = prodCatsViewInfo.CurrentPageNumber + DEFAULT_PAGE_STEP;
}

@* // Хлебные крошки *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb wide-crumbs">
        <li class="breadcrumb-item wide-crumb"><a asp-controller="Home" asp-action="Index">@resManager.GetString("Home")</a></li>
        <li class="breadcrumb-item wide-crumb">
            <a asp-controller="Root" asp-action="@ORGANIZATIONS" asp-route-pageNumber="@orgViewInfo.CurrentPageNumber">
                @resManager.GetString(ORGANIZATIONS)
            </a>
        </li>
        <li class="breadcrumb-item wide-crumb">
            <a asp-controller="@ORGANIZATION" asp-action="@ORGANIZATION" asp-route-id="@Model.OrganizationId">
                @resManager.GetString(ORGANIZATION): @Model.OrganizationViewModel.Name
            </a>
        </li>
        <li class="breadcrumb-item wide-crumb active" aria-current="page">@resManager.GetString("OrganizationProducts")</li>
    </ol>
</nav>

<div id="productCategoriesForm" data-href="@Url.Content($"/{ORGANIZATION}/{Model.OrganizationId}/GetProductCategoriesData/{prodCatsViewInfo.CurrentPageNumber}/")" class="mt-3">
    @* // Создание категории *@
    @{ await Html.RenderPartialAsync($"{PROD_CAT_VIEWS_REL_PATH}Partial/CreateCategory.cshtml"); }
    @* // Создание продукта *@
    @{ await Html.RenderPartialAsync($"{PROD_CAT_VIEWS_REL_PATH}Partial/CreateProduct.cshtml"); }
    @* // Изменение категории *@
    @{ await Html.RenderPartialAsync($"{PROD_CAT_VIEWS_REL_PATH}Partial/UpdateCategory.cshtml"); }
    @* // Изменение продукта *@
    @{ await Html.RenderPartialAsync($"{PROD_CAT_VIEWS_REL_PATH}Partial/UpdateProduct.cshtml"); }

    <input id="organizationId" value="@Model.OrganizationId" hidden="hidden" />
    <div class="text-center">
        <p class="label-md">
            @resManager.GetString("OrganizationProducts") @Model.OrganizationViewModel.Name
        </p>
    </div>
    <form id="productCategoriesFilter" class="mt-3" asp-controller="@ORGANIZATION" asp-action="SearchProductCategories">
        <input asp-for="OrganizationId" hidden="hidden" />
        <div class="row justify-content-around">
            <div class="col-lg mb-4 mb-lg-0">
                <input asp-for="SearchProductCategoryName" class="form-control" placeholder="@resManager.GetString("CategoryName")" />
            </div>
            <div class="col-lg mb-4 mb-lg-0">
                <input asp-for="SearchProductName" class="form-control" placeholder="@resManager.GetString("ProductName")" />
            </div>
        </div>
        <div class="row justify-content-center mt-0 mt-lg-3">
            <div class="col-lg mb-4 mb-lg-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@resManager.GetString("MinConst")</span>
                    </div>
                    <input asp-for="SearchMinConst" type="number" class="form-control" id="prodMinCost">
                </div>
            </div>
            <div class="col-lg mb-4 mb-lg-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@resManager.GetString("MaxConst")</span>
                    </div>
                    <input asp-for="SearchMaxConst" type="number" class="form-control" id="prodMaxCost">
                </div>
            </div>
        </div>
        <div class="row justify-content-around mt-3">
            <div class="col-auto mb-3 mb-sm-0 text-center flex-grow-0">
                <input id="prodsSearch" type="submit" class="btn btn-outline-primary" value="@resManager.GetString("ApplyFilter")" />
            </div>
            <div class="col-auto mb-3 mb-sm-0 text-center flex-grow-0">
                <a id="clearProdsSearch" asp-controller="@ORGANIZATION" asp-action="ProductCategoriesClearSearch" asp-route-id="@Model.OrganizationId"
                   type="button" class="btn btn-outline-primary">@resManager.GetString("Clear")</a>
            </div>
            <div class="col-auto text-center flex-grow-0">
                <input id="addRootCategory" data-toggle="modal" data-target="#addCategoryModal" type="button" class="btn btn-outline-primary" value="@resManager.GetString("AddCategory")" />
            </div>
        </div>
    </form>
    <div id="productCategoriesTree" class="mt-3"></div>
    <div id="productCategoriesNav" class="list-nav row no-gutters justify-content-center mt-3">
        <div class="col">
            <div class="nav-previous">
                <div class="nav-url" data-href="@Url.Content($"/{ORGANIZATION}/{Model.OrganizationId}/GetProductCategoriesData/{previousPageNumber}/")">
                    <span class="icon-chevron-thin-left"></span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="nav-next">
                <div class="nav-url" data-href="@Url.Content($"/{ORGANIZATION}/{Model.OrganizationId}/GetProductCategoriesData/{nextPageNumber}/")">
                    <span class="icon-chevron-thin-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="prodCatSettingsMenu" class="settings-menu d-none">
    <ul>
        <li>
            <div>
                <input id="addCategoryBtn" data-toggle="modal" data-target="#addCategoryModal" type="button" class="label-sm" value="@resManager.GetString("AddSubCategory")" />
            </div>
        </li>
        <li>
            <div>
                <input id="addProductBtn" data-toggle="modal" data-target="#addProductModal" type="button" class="label-sm" value="@resManager.GetString("AddProduct")" />
            </div>
        </li>
        <li>
            <div>
                <input id="updateCategoryBtn" data-toggle="modal" data-target="#updateCategoryModal" type="button" class="label-sm" value="@resManager.GetString("ChangeCategory")" />
            </div>
        </li>
        <li>
            <form asp-controller="@PROD_CAT" asp-action="Delete">
                <input id="deleteCategoryBtn" type="submit" class="label-sm" value="@resManager.GetString("DeleteCategory")" />
            </form>
        </li>
    </ul>
</div>
<div id="prodSettingsMenu" class="settings-menu d-none">
    <ul>
        <li>
            <div>
                <input id="updateProductBtn" data-toggle="modal" data-target="#updateProductModal" type="button" class="label-sm" value="@resManager.GetString("UpdateProduct")" />
            </div>
        </li>
        <li>
            <form asp-controller="@PRODUCT" asp-action="Delete">
                <input id="deleteProductBtn" type="submit" class="label-sm" value="@resManager.GetString("DeleteProduct")" />
            </form>
        </li>
    </ul>
</div>