@using static GSCrm.CommonConsts
@using GSCrm.Helpers
@using GSCrm.Data
@using GSCrm.Data.Cash
@inject ApplicationDbContext context
@inject ResManager resManager
@inject ICachService cachService
@model EmployeeViewModel
@{
    string currentUserId = User.GetUserModel(context).Id;
}

<div id="empRespManagement" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xxl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@resManager.GetString("EmpRespsManagement")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="@EMP_RESPONSIBILITY" asp-action="Synchronize">
                    <input id="clearResponsibilityManagementSearch" value="@Url.Content($"/{EMP_RESPONSIBILITY}/{Model.Id}/ClearResponsibilityManagementSearch/")" hidden="hidden" />
                    <div class="row">
                        <div class="col-xl">
                            <div class="row justify-content-center">
                                <p class="label-md m-0 text-center">@resManager.GetString("AllRespsExceptSelected")</p>
                            </div>
                            <div class="card-body">
                                <input asp-for="Id" hidden="hidden" />
                                <div class="row justify-content-around form-group mb-0 mt-1">
                                    <div class="col-lg mb-4 mb-lg-0">
                                        <input asp-for="SearchAllRespName" class="form-control" placeholder="@resManager.GetString("NameLabel")" />
                                    </div>
                                    <div class="col-auto mb-3 mb-sm-0 text-center flex-grow-0">
                                        <input id="allRespsSearch" type="button" class="btn btn-outline-primary" value="@resManager.GetString("ApplyFilter")"
                                               data-href="@Url.Content($"/{EMP_RESPONSIBILITY}/SearchAllResponsibilities/")" />
                                    </div>
                                    <div class="col-auto text-center flex-grow-0">
                                        <input id="clearAllRespsSearch" type="button" class="btn btn-outline-primary" value="@resManager.GetString("Clear")"
                                               data-href="@Url.Content($"/{EMP_RESPONSIBILITY}/{Model.Id}/ClearAllResponsibilitiesSearch/")" />
                                    </div>
                                </div>
                            </div>
                            <div class="table-wrapper mt-3">
                                <table id="allResps" class="fl-table">
                                    <thead>
                                        <tr>
                                            <th class="d-none"></th>
                                            <th class="label-non-select">@resManager.GetString("NameLabel")</th>
                                            <th class="action-column"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-xl">
                            <div id="allRespsNav" class="list-nav row no-gutters justify-content-center mt-3">
                                <div class="col">
                                    <div class="nav-previous">
                                        <div class="nav-url" data-href="@Url.Content($"/{EMP_RESPONSIBILITY}/{Model.Id}/PreviousAllRecords/")">
                                            <span class="icon-chevron-thin-left"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="nav-next">
                                        <div class="nav-url" data-href="@Url.Content($"/{EMP_RESPONSIBILITY}/{Model.Id}/NextAllRecords/")">
                                            <span class="icon-chevron-thin-right"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-xl mt-5">
                            <div class="row justify-content-center">
                                <p class="label-md m-0 text-center">@resManager.GetString("SelectedResps")</p>
                            </div>
                            <div class="card-body">
                                <input asp-for="Id" hidden="hidden" />
                                <div class="row justify-content-around form-group mb-0 mt-1">
                                    <div class="col-lg mb-4 mb-lg-0">
                                        <input asp-for="SearchSelectedRespName" class="form-control" placeholder="@resManager.GetString("NameLabel")" />
                                    </div>
                                    <div class="col-auto mb-3 mb-sm-0 text-center flex-grow-0">
                                        <input id="selectedRespsSearch" type="button" class="btn btn-outline-primary" value="@resManager.GetString("ApplyFilter")"
                                               data-href="@Url.Content($"/{EMP_RESPONSIBILITY}/SearchSelectedResponsibilities/")" />
                                    </div>
                                    <div class="col-auto text-center flex-grow-0">
                                        <input id="clearSelectedRespsSearch" type="button" class="btn btn-outline-primary" value="@resManager.GetString("Clear")"
                                               data-href="@Url.Content($"/{EMP_RESPONSIBILITY}/{Model.Id}/ClearSelectedResponsibilitiesSearch/")" />
                                    </div>
                                </div>
                            </div>
                            <div class="table-wrapper mt-3">
                                <table id="selectedResps" class="fl-table">
                                    <thead>
                                        <tr>
                                            <th class="d-none"></th>
                                            <th class="label-non-select">@resManager.GetString("NameLabel")</th>
                                            <th class="action-column"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-xl mb-2">
                            <div id="selectedRespsNav" class="list-nav row no-gutters justify-content-center mt-3">
                                <div class="col">
                                    <div class="nav-previous">
                                        <div class="nav-url" data-href="@Url.Content($"/{EMP_RESPONSIBILITY}/{Model.Id}/PreviousSelectedRecords/")">
                                            <span class="icon-chevron-thin-left"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="nav-next">
                                        <div class="nav-url" data-href="@Url.Content($"/{EMP_RESPONSIBILITY}/{Model.Id}/NextSelectedRecords/")">
                                            <span class="icon-chevron-thin-right"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row justify-content-between m-0">
                    <div class="col text-center mb-3">
                        <input id="syncEmpRespsBtn" type="button" class="btn btn-outline-primary" value="@resManager.GetString("Synchronize")" />
                    </div>
                    <div class="col text-center">
                        <input id="cancelSyncEmpRespsBtn" type="button" class="btn btn-secondary" data-dismiss="modal" value="@resManager.GetString("CancelLabel")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>