@using static GSCrm.CommonConsts
@using GSCrm.Data
@inject ApplicationDbContext context
@inject ResManager resManager
@model EmployeeViewModel

<div class="row">
    <div class="col">
        <div class="mt-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend m-auto">
                    <span class="input-group-text" id="basic-addon1">@resManager.GetString(DIVISION)</span>
                </div>
                <div id="employeeDiv" class="select-autocomplete flex-grow-1" data-link="@Url.Content($"~/Autocomplite/GetDivisions/{Model.OrganizationId}/")">
                    <input asp-for="DivisionName" class="form-control" placeholder="@resManager.GetString(DIVISION)" />
                </div>
            </div>
        </div>
        <span asp-validation-for="DivisionName"></span>
    </div>

    <div class="col">
        <div class="mt-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend m-auto">
                    <span class="input-group-text" id="basic-addon1">@resManager.GetString(POSITION)</span>
                </div>
                <div id="employeePosition" class="select-autocomplete flex-grow-1" data-link="@Url.Content($"~/Autocomplite/GetPositions/{Model.OrganizationId}/")"
                     data-autocomplite-type="Positions" data-autocomplite-name="EmployeePosition">
                    <input asp-for="PrimaryPositionName" class="form-control" placeholder="@resManager.GetString(POSITION)" />
                </div>
            </div>
        </div>
        <span asp-validation-for="PrimaryPositionName"></span>
    </div>
</div>