@using static GSCrm.CommonConsts
@using GSCrm.Data
@inject ApplicationDbContext context
@inject ResManager resManager
@model EmployeeViewModel

<div class="row">
    <div class="col">
        <div class="mt-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend m-auto">
                    <span class="input-group-text" id="basic-addon1">@resManager.GetString(DIVISION)</span>
                </div>
                <div id="employeeDiv" class="autocomplete default-autocomplete flex-grow-1">
                    <a class="autocomplete-link" hidden="hidden" href="@Url.Content($"/Autocomplite/GetDivisions/{Model.OrganizationId}/")"></a>
                    <input asp-for="DivisionName" class="autocomplete-input form-control" placeholder="@resManager.GetString(DIVISION)" />
                    <ul class="autocomplete-result-list"></ul>
                </div>
            </div>
        </div>
        <span asp-validation-for="DivisionName"></span>
    </div>

    <div class="col">
        <div class="mt-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend m-auto">
                    <span class="input-group-text" id="basic-addon1">@resManager.GetString(POSITION)</span>
                </div>
                <div id="employeePosition" class="autocomplete default-autocomplete flex-grow-1" data-autocomplite-type="Positions" data-autocomplite-name="EmployeePosition">
                    <a class="autocomplete-link" hidden="hidden" href="@Url.Content($"/Autocomplite/GetPositions/{Model.OrganizationId}/")"></a>
                    <input asp-for="PrimaryPositionName" class="autocomplete-input form-control" placeholder="@resManager.GetString(POSITION)" />
                    <ul class="autocomplete-result-list"></ul>
                </div>
            </div>
        </div>
        <span asp-validation-for="PrimaryPositionName"></span>
    </div>
</div>