@using static GSCrm.CommonConsts
@using GSCrm.Data.ApplicationInfo
@using GSCrm.Helpers
@using GSCrm.Data
@inject ApplicationDbContext context
@inject ResManager resManager
@using GSCrm.Data.Cash
@inject ICachService cachService
@model EmployeeViewModel
@{
    int subordinatesCount = Model.SubordinatesViewModels.Count;
    bool showES = subordinatesCount == 0 && new[] { Model.SearchSubordinateFullName }.AllIsNullOrEmpty();
    bool showSearchES = subordinatesCount == 0 && new[] { Model.SearchSubordinateFullName }.IsOneStringFill();
    string currentUserId = User.GetUserModel(context).Id;
}
<div class="tab-pane fade" id="subordinates" role="tabpanel" aria-labelledby="subordinates-tab">
    @* // Фильтр по подчиненным *@
    @if (!showES)
    {
        await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeeSubordinatesFilter.cshtml");
    }

    <div class="form-group">
        <form id="employeeSubordinatesList">
            <div class="table-wrapper">
                <table class="fl-table @(!showES && !showSearchES ? "" : "empty-table")">
                    <thead>
                        @if (!showES && !showSearchES)
                        {
                            <tr>
                                <th>@resManager.GetString("FullName")</th>
                            </tr>
                        }
                        else
                        {
                            <tr><th></th><th></th></tr>
                        }
                    </thead>
                    <tbody>
                        @if (showES)
                        {
                            <tr>
                                <td><img src="~/img/default-empty.svg" /></td>
                                <td>@resManager.GetString("ESSubordinates")</td>
                            </tr>
                        }
                        @if (showSearchES)
                        {
                            <tr>
                                <td><img src="~/img/page-not-found.svg" /></td>
                                <td>@resManager.GetString("ESSearchEmployees")</td>
                            </tr>
                        }
                        @foreach (EmployeeViewModel employeeViewModel in Model.SubordinatesViewModels)
                        {
                            <tr>
                                <td class="tooltip-cell-src tooltip-cell-link subordinate-item">@Html.ActionLink(employeeViewModel.FullName, EMPLOYEE, EMPLOYEE, new { employeeViewModel.Id })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
        @{
            await Html.RenderPartialAsync("Partial/Navigation", new NavbarRenderSettings
            {
                ItemsCount = subordinatesCount,
                ViewInfo = cachService.GetViewInfo(currentUserId, Model.Id, EMP_SUBS),
                ControllerName = EMPLOYEE,
                ActionName = SUBORDINATES
            });
        }
    </div>
</div>