@using static GSCrm.CommonConsts
@using GSCrm.Data
@inject ApplicationDbContext context
@inject ResManager resManager
@model EmployeeViewModel
@* // Модальное окно управления полномочиями *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeeResponsibilityModal.cshtml"); }
@* // Модальное окно управления должностями *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeePosisionModal.cshtml"); }
@* // Модальное окно изменения подразделения *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmpContactUpdateModal.cshtml"); }
@* // Модальное окно создания контакта сотрудника *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmpContactCreateModal.cshtml"); }
@* // Модальное окно изменения подразделения сотрудника *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/ChangeDivisionModal.cshtml"); }

<form id="updateEmployeeForm" class="mt-2" asp-controller="@EMPLOYEE" asp-action="Update">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <input id="employeeId" asp-for="Id" hidden="hidden" />
        <input asp-for="OrganizationId" hidden="hidden" />
        <div class="row">
            <div class="col-md flex-grow-1">
                <div class="mb-3">
                    <input class="form-control" asp-for="LastName" placeholder="@resManager.GetString("LastNameLabel")" />
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control" asp-for="FirstName" placeholder="@resManager.GetString("FirstNameLabel")" />
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control" asp-for="MiddleName" placeholder="@resManager.GetString("MidNameLabel")" />
                    <span asp-validation-for="MiddleName"></span>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@resManager.GetString("Supervisor")</span>
                    </div>
                    <div class="form-control form-control-url wide-form-control">
                        <a href="@Url.Content($"~/{EMPLOYEE}/{Model.SupervisorId}/")">@Model.SupervisorInitialName</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row d-flex d-sm-none justify-content-center">
    <button id="actionsSelectorBtn" class="btn btn-outline-dark">Показать возможные действия</button>
</div>

<div id="employeeActions" class="row d-none d-sm-flex justify-content-center">
    <div class="col-sm mb-3 text-center">
        <button id="initializeRespsBtn" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#empRespManagement">@resManager.GetString("EmpRespsManagement")</button>
        <a id="initializeRespsUrl" href="@Url.Content($"/{EMP_RESPONSIBILITY}/{Model.Id}/GetResponsibilities/")" hidden="hidden"></a>
    </div>
    <div class="col-sm mb-3 text-center">
        <button id="initializePositionsBtn" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#employeePosisionModal">@resManager.GetString("PositionsManagement")</button>
        <a id="initializePositionsUrl" href="@Url.Content($"/{EMP_POSITION}/{Model.Id}/GetPositions/")" hidden="hidden"></a>
    </div>
    <div class="col-sm mb-3 text-center">
        <button id="openChangeDivisionModal" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#changeEmployeeDivisionModal">@resManager.GetString("ChangeDivision")</button>
    </div>
    <div class="col-sm mb-3 text-center">
        <button id="updateEmpBtn" type="submit" class="btn btn-outline-primary">@resManager.GetString("SaveChanges")</button>
    </div>
    <div class="col-sm mb-3 text-center">
        <button id="cancelUpdateEmpBtn" class="btn btn-outline-danger" data-href="@Url.Content($"~/{EMPLOYEE}/{Model.Id}/")">@resManager.GetString("CancelChanges")</button>
    </div>
</div>

<div id="employeeAdditionActions" class="row d-none d-sm-flex nav-connected-tabs justify-content-start" nav-tabs="empTabs">
    <div class="col">
        <div class="fade nav-connected-tab text-center text-sm-left" nav-tab="#contacts">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#empContactCreateModal">@resManager.GetString("CreateEmployeeContact")</button>
        </div>
    </div>
</div>

@* // Вкладки *@
<ul id="empTabs" class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="false">@resManager.GetString(CONTACTS)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="subordinates-tab" data-toggle="tab" href="#subordinates" role="tab" aria-controls="subordinates" aria-selected="false">@resManager.GetString("Subordinates")</a>
    </li>
</ul>
<div class="tab-content">
    @* // Контакты *@
    @{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeeContactsList.cshtml"); }

    @* // Подчиненные *@
    @{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeeSubordinatesList.cshtml"); }
</div>