@using GSCrm.Data
@using GSCrm.Data.ApplicationInfo
@using GSCrm.Models.ViewModels
@using static GSCrm.CommonConsts
@using GSCrm.Helpers
@inject ApplicationDbContext context
@inject ResManager resManager
@using GSCrm.Data.Cash
@inject ICachService cachService
@model AllNotificationsSettingsViewModel
@{
    UserNotificationsSettingViewModel userSettingViewModel = Model.UserNotificationsSettingViewModel;
}

<div class="tab-pane fade show" role="tabpanel" aria-labelledby="userNotSettingsTab" id="userNotSettingsList">
    <input id="userNotSettingId" value="@userSettingViewModel.Id" hidden="hidden" />
    <p class="label-lg text-center">@resManager.GetString("UserNotifications")</p>
    <div class="not-settings">
        <div id="orgInvoiceNot" data-nottype="OrgInvoiceNot" class="row not-setting">
            <div class="col-md">
                <p class="label-md text-center text-md-left">@resManager.GetString("OrgInvoiceNot")</p>
            </div>
            <div class="col-auto m-auto">
                <div class="row not-setting-options">
                    <input class="not-setting-target" value="@userSettingViewModel.TOrgInvoiceNot" hidden="hidden" />
                    <div class="col @(userSettingViewModel.OrgInvoiceNot ? "" : "d-none")">
                        <div class="cogs">
                            <span class="icon-cogs"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="switch @(userSettingViewModel.OrgInvoiceNot ? "switch-active" : "switch-disable")">
                            <div class="switch-tumbler"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>