@using GSCrm.Data
@using GSCrm.Helpers
@using GSCrm.Data.ApplicationInfo
@using GSCrm.Models.ViewModels.Notifications.AccUpdate
@using static GSCrm.CommonConsts
@inject ApplicationDbContext context
@inject ResManager resManager
@using GSCrm.Data.Cash
@inject ICachService cachService
@model UpdateAddressNotViewModel

@if (Model.OldAccountAddress.GetFullAddress() != Model.NewAccountAddress.GetFullAddress())
{
    <p class="label-non-select label-md m-0 text-center">
        У клиента <a href="/@ACCOUNT/@Model.ChangedAccount.Id">@Model.ChangedAccount.Name</a>, с которым вы работаете, был изменен адрес <strong>С</strong>
         @Model.OldAccountAddress.GetFullAddress() <strong>НА</strong> @Model.NewAccountAddress.GetFullAddress()
    </p>
}
else
{
    <p class="label-non-select label-md m-0 text-center">
        У клиента <a href="/@ACCOUNT/@Model.ChangedAccount.Id">@Model.ChangedAccount.Name</a>, с которым вы работаете, был изменен адрес @Model.OldAccountAddress.GetFullAddress()
    </p>
}

<p class="label-non-select label-md m-0 text-center">
    Организацию: <a href="/@ORGANIZATION/@Model.OwnerOrg.Id">@Model.OwnerOrg.Name</a>
</p>