@{
    Layout = "_Layout";
}
@using static GSCrm.CommonConsts
@using GSCrm.Data.ApplicationInfo
@using GSCrm.Helpers
@using GSCrm.Data
@using GSCrm.Models.Enums
@inject ApplicationDbContext context
@inject ResManager resManager
@model EmployeeViewModel
@inject IViewsInfo viewsInfo
@{
    string currentUserId = User.GetUserModel(context).Id;
    ViewInfo orgView = viewsInfo.Get(currentUserId, ORGANIZATIONS);
}

@* // Модальное окно управления полномочиями *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeeResponsibilityModal.cshtml"); }

@* // Модальное окно управления должностями *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeePosisionModal.cshtml"); }

@* // Модальное окно изменения подразделения *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmpContactUpdateModal.cshtml"); }

@* // Модальное окно создания контакта сотрудника *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmpContactCreateModal.cshtml"); }

@* // Модальное окно изменения подразделения сотрудника *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/ChangeDivisionModal.cshtml"); }

@* // Хлебные крошки *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb one-line-crumbs">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@resManager.GetString("Home")</a></li>
        <li class="breadcrumb-item">
            <a asp-controller="@ORGANIZATION" asp-action="@ORGANIZATIONS" asp-route-pageNumber="@orgView.CurrentPageNumber">
                @resManager.GetString(ORGANIZATIONS)
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="@ORGANIZATION" asp-action="BackToOrganization" asp-route-orgId="@Model.OrganizationId">
                @resManager.GetString(ORGANIZATION): @Model.OrganizationName
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@resManager.GetString(EMPLOYEE): @Model.FullInitialName</li>
    </ol>
</nav>

@* // Карточка сотрудника *@
<div class="container mt-3">
    <div id="employeeForm">
        <div class="mt-2 text-center">
            <h3>@Model.FullInitialName</h3>
        </div>
        @switch (Model.EmployeeStatus)
        {
            case "Lock":
                <input id="employeeLockReason" hidden="hidden" value="@Model.EmployeeLockReason" />
                switch (Model.EmployeeLockReason)
                {
                    // Отсутствует основная должность
                    default:
                    case "PrimaryPositionAbsent":
                        <div class="mt-2 text-center">
                            <p class="label-md">@resManager.GetString("EmployeeIsLock")</p>
                        </div>
                        <form id="lockEmployeeForm" class="mt-2" asp-controller="@EMPLOYEE" asp-action="Unlock">
                            <input id="employeeId" asp-for="Id" hidden="hidden" />
                            <input asp-for="OrganizationId" hidden="hidden" />
                            <div class="row">
                                <div class="col">
                                    <div class="mt-4">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend m-auto">
                                                <span class="input-group-text" id="basic-addon1">@resManager.GetString(DIVISION)</span>
                                            </div>
                                            <div id="employeeDiv" class="autocomplete default-autocomplete flex-grow-1">
                                                <a class="autocomplete-link" hidden="hidden" href="@Url.Content($"/Autocomplite/GetDivisions/{Model.OrganizationId}/")"></a>
                                                <input asp-for="DivisionName" class="autocomplete-input form-control" placeholder="@resManager.GetString(DIVISION)" />
                                                <ul class="autocomplete-result-list"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="DivisionName"></span>
                                </div>

                                <div class="col">
                                    <div class="mt-4">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend m-auto">
                                                <span class="input-group-text" id="basic-addon1">@resManager.GetString(POSITION)</span>
                                            </div>
                                            <div id="employeePosition" class="autocomplete default-autocomplete flex-grow-1" data-autocomplite-type="Positions" data-autocomplite-name="EmployeePosition">
                                                <a class="autocomplete-link" hidden="hidden" href="@Url.Content($"/Autocomplite/GetPositions/{Model.OrganizationId}/")"></a>
                                                <input asp-for="PrimaryPositionName" class="autocomplete-input form-control" placeholder="@resManager.GetString(POSITION)" />
                                                <ul class="autocomplete-result-list"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="PrimaryPositionName"></span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col text-left">
                                    <input id="unlockEmpBtn" type="submit" class="btn btn-primary" value="@resManager.GetString("Unlock")" />
                                </div>
                                <div class="col text-right">
                                    <input id="cancelUnlockEmpBtn" type="button" class="btn btn-secondary" data-dismiss="modal" value="@resManager.GetString("CancelLabel")" />
                                </div>
                            </div>
                        </form>
                        break;

                    // Пользователь отказался от приглашения или вышел из организации
                    case "RejectInvite":
                    case "EmployeeLeftOrganization":
                        <div class="mt-2 text-center">
                            <p class="label-md">@resManager.GetString("EmployeeIsLockByLeftFromOrg")</p>
                        </div>
                        <form id="lockEmployeeForm" class="mt-2" asp-controller="@EMPLOYEE" asp-action="Unlock">
                            <input id="employeeId" asp-for="Id" hidden="hidden" />
                            <input asp-for="OrganizationId" hidden="hidden" />
                            <div class="row radio-tabs justify-content-around">
                                <div class="col-md m-0 form-check form-check-inline active">
                                    <div class="form-check-wrap">
                                        <input class="form-check-input" type="radio" name="tab" value="selectUserOption" checked>
                                        <label class="form-check-label label-non-select" for="selectUserOption">
                                            @resManager.GetString("FindUser")
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md m-0 mt-3 mt-md-0 form-check form-check-inline">
                                    <div class="form-check-wrap">
                                        <input class="form-check-input" type="radio" name="tab" value="createUserOption">
                                        <label class="form-check-label label-non-select" for="createUserOption">
                                            @resManager.GetString("CreateNewUser")
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="tabs-content">
                                <div id="selectUserOption" class="tabs-content-item mb-3 mt-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="dog-symbol">@@</span>
                                        </div>
                                        <input id="existsUserName" type="text" class="form-control" placeholder="@resManager.GetString("Username")" aria-label="@resManager.GetString("Username")" aria-describedby="dog-symbol">
                                    </div>
                                    <ul id="existsUserNameError" data-connect-el="existsUserName" class="d-none under-field-error label-sm mt-2"></ul>
                                </div>

                                <div id="createUserOption" class="tabs-content-item mb-3" style="display: none">
                                    <div class="form-group m-0 mt-md-4">
                                        <div class="row">
                                            <div class="col-md">
                                                <p class="label-md label-non-select text-center mb-3 mt-3 mt-md-0">@resManager.GetString("Username")</p>
                                                <input id="newUserName" type="text" class="form-control" placeholder="@resManager.GetString("Username")">
                                                <ul id="newUserNameError" data-connect-el="newUserName" class="d-none under-field-error label-sm"></ul>
                                            </div>
                                            <div class="col-md">
                                                <p class="label-md label-non-select text-center mb-3 mt-3 mt-md-0">@resManager.GetString("Email")</p>
                                                <input id="newUserEmail" type="email" class="form-control" placeholder="name@example.com">
                                                <ul id="newUserEmailError" data-connect-el="newUserEmail" class="d-none under-field-error label-sm"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-0">
                                        <div class="row mt-0 mt-md-4">
                                            <div class="col-md">
                                                <p class="label-md label-non-select text-center mb-3 mt-3 mt-md-0">@resManager.GetString("Password")</p>
                                                <input id="newUserPassword" type="password" class="form-control" placeholder="@resManager.GetString("Password")">
                                                <ul id="newUserPasswordError" data-connect-el="newUserPassword" class="d-none under-field-error label-sm"></ul>
                                            </div>
                                            <div class="col-md">
                                                <p class="label-md label-non-select text-center mb-3 mt-3 mt-md-0">@resManager.GetString("ConfirmPassword")</p>
                                                <input id="newUserConfirmPassword" type="password" class="form-control" placeholder="@resManager.GetString("ConfirmPassword")">
                                                <ul id="newUserConfirmPasswordError" data-connect-el="newUserConfirmPassword" class="d-none under-field-error label-sm"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-around mt-4">
                                <div class="col text-center">
                                    <input id="unlockEmpBtn" type="submit" class="btn btn-primary" value="@resManager.GetString("Unlock")" />
                                </div>
                                <div class="col text-center">
                                    <input id="cancelUnlockEmpBtn" type="button" class="btn btn-secondary" data-dismiss="modal" value="@resManager.GetString("CancelLabel")" />
                                </div>
                            </div>
                        </form>
                        break;
                }
                break;

            case "Active":
                <form class="mt-2" asp-controller="@EMPLOYEE" asp-action="Update">
                    <div asp-validation-summary="All"></div>
                    <div class="form-group">
                        <input id="employeeId" asp-for="Id" hidden="hidden" />
                        <input asp-for="OrganizationId" hidden="hidden" />
                        <div class="row">
                            <div class="col-md flex-grow-1">
                                <div class="mb-3">
                                    <input class="form-control" asp-for="LastName" placeholder="@resManager.GetString("LastNameLabel")" />
                                    <span asp-validation-for="LastName"></span>
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" asp-for="FirstName" placeholder="@resManager.GetString("FirstNameLabel")" />
                                    <span asp-validation-for="FirstName"></span>
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" asp-for="MiddleName" placeholder="@resManager.GetString("MidNameLabel")" />
                                    <span asp-validation-for="MiddleName"></span>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@resManager.GetString("Supervisor")</span>
                                    </div>
                                    <div class="form-control form-control-url wide-form-control">
                                        <a href="@Url.Content($"~/{EMPLOYEE}/{Model.SupervisorId}/")">@Model.SupervisorInitialName</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md flex-grow-0">
                                <div class="row justify-content-center">
                                    <div class="col-sm mb-3 text-center">
                                        <input id="updateEmpBtn" type="submit" class="btn btn-outline-primary" value="@resManager.GetString("SaveChanges")" />
                                    </div>
                                    <div class="col-sm mb-3 text-center">
                                        <a id="cancelUpdateEmpBtn" class="btn btn-outline-danger" href="@Url.Content($"~/{EMPLOYEE}/{Model.Id}/")">@resManager.GetString("CancelChanges")</a>
                                    </div>
                                    <div class="col-sm text-center">
                                        <input id="openChangeDivisionModal" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#changeEmployeeDivisionModal" value="@resManager.GetString("ChangeDivision")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="col nav-connected-tabs text-center text-md-left mb-3 mb-md-0" nav-tabs="empTabs">
                    <div class="row justify-content-start">
                        <div class="col col-sm-auto text-center text-sm-left mt-3">
                            <input id="initializeRespsBtn" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#empRespManagement" value="@resManager.GetString("EmpRespsManagement")" />
                            <a id="initializeRespsUrl" asp-controller="@EMP_RESPONSIBILITY" asp-action="GetResponsibilities" asp-route-employeeId="@Model.Id" hidden="hidden"></a>
                        </div>
                        <div class="col col-sm-auto text-center text-sm-left mt-3">
                            <input id="initializePositionsBtn" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#employeePosisionModal" value="@resManager.GetString("PositionsManagement")" />
                            <a id="initializePositionsUrl" asp-controller="@EMP_POSITION" asp-action="GetPositions" asp-route-employeeId="@Model.Id" hidden="hidden"></a>
                        </div>
                        <div class="col mt-3">
                            <div class="fade nav-connected-tab text-center text-sm-left" nav-tab="#contacts">
                                <input type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#empContactCreateModal" value="@resManager.GetString("CreateEmployeeContact")" />
                            </div>
                        </div>
                    </div>
                </div>

                @* // Вкладки *@
                <ul id="empTabs" class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="false">@resManager.GetString(CONTACTS)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="subordinates-tab" data-toggle="tab" href="#subordinates" role="tab" aria-controls="subordinates" aria-selected="false">@resManager.GetString("Subordinates")</a>
                    </li>
                </ul>
                <div class="tab-content">
                    @* // Контакты *@
                    @{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeeContactsList.cshtml"); }

                    @* // Подчиненные *@
                    @{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeeSubordinatesList.cshtml"); }
                </div>
                break;

            default:
            case "AwaitingInvitationAcceptance":
                <p class="label-lg text-center">@resManager.GetString("EmployeeIsNonActive")</p>
                break;
        }
    </div>
</div>